<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <meta property="og:type" content="website">
    <meta property="og:title" content="イミトル - 単語類似度推理ゲーム">
    <meta property="og:description" content="Semantle日本語版。単語間の類似性で正解の単語を推理するゲームです。毎日新しい答えが出ます。はたして今日の単語は何でしょうか？">
    <meta property="og:image" content="https://semantoru.com/static/assets/thumbnail.png">

    <title>イミトル — 単語類似度推理ゲーム</title>
    <script src="/assets/js/clipboard.js"></script>
    <link rel="stylesheet" href="/assets/styles.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <link rel="manifest" href="/assets/site.webmanifest">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-WSNJ6J7');
    </script>
    <!-- End Google Tag Manager -->

    <!--

    Copyright (c) 2023, Sohyun sim, forked from Semantlich by Johannes Gätjen <semantlich.johannesgaetjen.de> and Semantle by David Turner <novalis@novalis.org> semantle.novalis.org

    This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, version 3.

    This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

    You should have received a copy of the GNU General Public License along with this program. If not, see <https://www.gnu.org/licenses/>.
    -->
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WSNJ6J7"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- include script here so that we can set dark mode of body on initialization -->
<script src="/assets/js/semantle.js"></script>
<header>
    <h2>イミトル — 単語類似度推理ゲーム</h2>
    <nav id="menu">
        <button aria-label="Settings" class="overlay-button" id="settings-button">
            <!-- https://tabler-icons.io/ -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-settings-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M14.647 4.081a.724 .724 0 0 0 1.08 .448c2.439 -1.485 5.23 1.305 3.745 3.744a.724 .724 0 0 0 .447 1.08c2.775 .673 2.775 4.62 0 5.294a.724 .724 0 0 0 -.448 1.08c1.485 2.439 -1.305 5.23 -3.744 3.745a.724 .724 0 0 0 -1.08 .447c-.673 2.775 -4.62 2.775 -5.294 0a.724 .724 0 0 0 -1.08 -.448c-2.439 1.485 -5.23 -1.305 -3.745 -3.744a.724 .724 0 0 0 -.447 -1.08c-2.775 -.673 -2.775 -4.62 0 -5.294a.724 .724 0 0 0 .448 -1.08c-1.485 -2.439 1.305 -5.23 3.744 -3.745a.722 .722 0 0 0 1.08 -.447c.673 -2.775 4.62 -2.775 5.294 0zm-2.647 4.919a3 3 0 1 0 0 6a3 3 0 0 0 0 -6z" stroke-width="0" fill="currentColor"></path>
             </svg>
        </button>
        <button aria-label="Rules" class="overlay-button" id="rules-button">
            <!-- https://tabler-icons.io/ -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-help-circle-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 2c5.523 0 10 4.477 10 10a10 10 0 0 1 -19.995 .324l-.005 -.324l.004 -.28c.148 -5.393 4.566 -9.72 9.996 -9.72zm0 13a1 1 0 0 0 -.993 .883l-.007 .117l.007 .127a1 1 0 0 0 1.986 0l.007 -.117l-.007 -.127a1 1 0 0 0 -.993 -.883zm1.368 -6.673a2.98 2.98 0 0 0 -3.631 .728a1 1 0 0 0 1.44 1.383l.171 -.18a.98 .98 0 0 1 1.11 -.15a1 1 0 0 1 -.34 1.886l-.232 .012a1 1 0 0 0 .111 1.994a3 3 0 0 0 1.371 -5.673z" stroke-width="0" fill="currentColor"></path>
             </svg>
        </button>            
    </nav>
</header>
<div class="dialog-underlay" id="rules-underlay">
    <div class="dialog" id="rules" aria-labelledby="rules-heading" aria-modal="true" role="dialog">
        <button class="dialog-close" id="rules-close" aria-label="Schließen">
            <!-- https://tabler-icons.io/ -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M18 6l-12 12"></path>
                <path d="M6 6l12 12"></path>
             </svg>
        </button>
        <div class="dialog-content" id="rules-content">
            <h3 id="rules-heading">類似度で単語を推理する</h3>
            <p>
                イミトルは、毎日出題される「今日の言葉」を当てるゲームです。
                一つの単語を推測して入力すると、推測した単語が正解単語とどの程度類似しているかを類似度スコアで知らせてくれます。
                単語間の類似度は単語の意味や文脈、単語の言語的特性などが類似度に影響を与えます。
                推測した単語の類似度スコアを参考にして、正解単語を推理してみてください。
            </p>
            <p>
                正解の単語には、固有名詞、助詞、感動詞、及び記号以外の品詞の基本形の単語が含まれています。
                正解の単語は、よく使われる表記に従っています。ただし推理する場合は、すべての表記を試すことができます。
                同じ単語でも、表記によって類似度が異なる場合は、単語が使用される文脈が反映されていると考えることもできます。
                ひらがなやカタカナの表記をする場合は、同音異字の場合にも注意してください。
            </p>
            <p>
                正解の単語は毎日国際標準時(UTC)で午後3時,日本標準時(JST)で夜12時に変わります。<span id="yesterday"></span>
            </p>
            <p>
                このゲームはクッキを使ってゲームの設置と進行率、統計情報を保存します。
            </p>
        </div>
    </div>
</div>
<div class="dialog-underlay" id="settings-underlay">
    <div class="dialog" id="settings" aria-labelledby="settings-heading" aria-modal="true" role="dialog">
        <button class="dialog-close" id="settings-close" aria-label="Schließen">&times;</button>
        <div class="dialog-content" id="settings-content">
            <h3 id="settings-heading">設定</h3>
            <div>
                <input type="checkbox" name="dark-mode" value="dark-mode" id="dark-mode"/>
                <label for="dark-mode">ダークモード</label>
            </div>
            <div>
                <input type="checkbox" name="share-guesses" value="share-guesses" id="share-guesses"/>
                <label for="share-guesses">結果メッセージに答えた回数を表示</label>
            </div>
            <div>
                <input type="checkbox" name="share-time" value="share-time" id="share-time"/>
                <label for="share-time">結果メッセージにかかった時間を表示</label>
            </div>
            <div>
                <input type="checkbox" name="share-top-guess" value="share-top-guess" id="share-top-guess"/>
                <label for="share-top-guess">結果メッセージに最大類似度を表示</label>
            </div>
        </div>
    </div>
</div>
<p id="similarity-story"></p>
<div id="error" style="color:#ff0000"></div>
<form id="form" autocorrect="off" autocapitalize="none" autocomplete="off">
    <div id="form-row">
        <div id="guess-wrapper">
            <input placeholder="推測した単語を入力してください" autocorrect="off" autocapitalize="none" autocomplete="off"
                   type="text" id="guess">
            <input type="submit" value="決定" id="guess-btn" class="button">
        </div>
    </div>
</form>
<div id="response"></div>
<div style="display:none">
    <input type="text" id="share"/>
</div>
<table id="guesses">
</table>

<input type="button" value="ヒント" id="hint-btn" class="button">
<input type="button" value="ギブアップ" id="give-up-btn" class="button">

<footer>
    <hr>
    <h3 id="faq">よくある質問</h3>

    <p><b>イミトルはどのようなゲームですか？</b></p>
    <p>
        イミトルは、毎日出題される「今日の言葉」を当てるゲームです。
        推測した単語が正解単語とどの程度類似しているかを類似度スコアで知らせてくれます。
        推測した単語の類似度スコアを参考にして、正解単語を推理してみてください。
    </p>

    <p><b>正解の単語にはどのような単語が出題されるのでしょうか？</b></p>
    <p>
        正解の単語には、固有名詞、助詞、感動詞、及び記号以外の品詞の基本形の単語が含まれています。 
        <a href="https://en.wiktionary.org/wiki/Wiktionary:Frequency_lists/Japanese2022_10000">Wiktionary</a>からよく使われる日本語の単語を取り出し、基準に合わせてフィルタリングしてリストを作成し、そのリストからランダムに正解の単語を選択します。
    </p>

    <p><b>「類似度スコア」は何ですか？</b></p>
    <p>
        推測した単語が正解の単語と意味や文脈的にどの程度近いかを-100から+100までの数字で算出したスコアです。スコアが大きいほど、正解の単語と類似していると見なすことができます。
        推測した単語が正解の単語と最も類似している上位1,000個の単語に含まれる場合、類似度ランキングも確認できます。
        類似度の計算には、Common CrawlおよびWikipediaのデータで事前学習された<a href="https://fasttext.cc/docs/en/crawl-vectors.html">FastTex</a>tが使用されました。
        訓練されたデータによっては偏りがある場合があります。
    </p>

    <p><b>どのような単語が正解の単語と類似度が高いのでしょうか？</b></p>
    <p>
        単語間の類似度は単語の意味や文脈、単語の言語的特性などが類似度に影響を与えます。
        <ul>
            <li>一般的に、意味が似ている単語同士は類似度が高くなります。例えば「リンゴ」と「ナシ」は果物の種類として意味が似ているので、類似度が高くなるでしょう。</li>
            <li>反対語はしばしば、共有する特徴や特性があるため、高い類似度を持っていることがあります。例えば、「hot」と「cold」は反対語ですが、両方とも温度を表す特徴を共有しているので、類似度が高くなる場合があります。</li>
            <li>意味や文脈上で似ていない場合、スペルの類似性は類似度と関係がありません。</li>
        </ul>
    </p>

    <p><b>正しい単語であるのに推測ができない単語があります。</b></p>
    <p>
        残念ながら、Word2Vecの辞書にはすべての単語が含まれていません。
        学習に使用されたデータにその単語が十分に登場しなかった場合、辞書にない可能性が高くなります。
    </p>

    <p><b>単語の表記はどうすればいいですか？漢字で書いた方がいいですか？それとも全てひらがなで書いた方がいいですか？</b></p>
    <p>
        正解の単語は、できるだけよく使われる表記に従っています。
        しかし、推理する場合は、すべての表記を試すことができます。
        同じ単語でも、表記によって類似度が異なる場合は、単語が使用される文脈が反映されていると考えることもできます。
        ひらがなやカタカナの表記をする場合は、同音異字の場合にも注意してください。
    </p>

    <p><b>問題が難しくて単語が思い出せません。</b></p>
    <p>
        推測した単語リストの下に「ヒント」と「ギブアップ」ボタンがあります。
        <ul>
            <li>「ヒント」を押すと、これまで推測した一番高い単語より、正解に少し近い単語を見ることができます。</li>
            <li>「ギブアップ」を押すと、今日の正解をすぐ見るようになります。</li>
        </ul>
        ヒントの単語は全く思いつかなかった単語になる可能性があります。ヒントをきっかけして新しい方向性で考えば、正解に近くようになります。
    </p>

    <p><b>昨日の正解は何ですか？</b></p>
    <p>
        <span id="yesterday2"></span>
    </p>

    <p><b>一日に複数のゲームをプレイすることはできますか？</b></p>
    <p>
        イミトルは1日に1回だけしかプレイできません。Wordleと同じく、「1日1回、全員同じ答え」でプレイすることが鍵となっています。
    </p>

    <p><b>ソースコードは?</b></p>
    <p>
        <a href="https://github.com/sim-so/semantle-jp">こちら</a>でご覧いただけます。
    </p>

    <p><b>他に質問やフィードバックがある場合、どのように送信できますか？</b></p>
    <p>
        <a href="https://github.com/sim-so/semantle-jp/issues">GitHubのイシュー</a>または<a href="https://twitter.com/dashimaroll">twitter</a>でお送りください。
    </p>

    <p><b>タイトルが変更になったようです。</b></p>
    <p>
        元々他のバージョンのように、semantleをカタカナで書いた「セマントル」と言いました。
        しかし、日本語ではあまりにも慣れない発音になり、「semantics(意味論)」からの繋ぎが見えないので、「意味」のことをとって「イミトル」と変えました。
    </p>


    <hr>
    <p><small>
        イミトルーSemantle日本語版ーはSim Sohyunが作りました。David Turnerの<a href="https://semantle.novalis.org">Original Semantle</a>と
        Johannes Gätjenの<a href="http://semantlich.johannesgaetjen.de">Semantlich</a>を元にしています。
        単語の埋め込み(Word embeddings)は<a href="https://fasttext.cc/docs/en/crawl-vectors.html">FastText</a>から使用します。
    </small></p>

</footer>
</body>
</html>
