<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/assets/js/nearest1k.js"></script>
    <title>セマントル - 類似の単語リスト</title>
    <link rel="stylesheet" href="/assets/modern-normalize.min.css">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-WSNJ6J7');
    </script>
    <!-- End Google Tag Manager -->
  </head>

  <body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WSNJ6J7"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
    <div id="warning" style="display:none; ">
      <div style="border:thin solid black; background-color: #ffdddd">
        ご注意:この警告をクリックすると今日の正解が表されます。 <span id="spoiler"></span>の正解が表されます。
      </div>
    </div>
    <div id="nearest" style="display:none;">
      パズル<b id="day">{{day}}</b>の正解は<b id="word">{{word}}</b>です。最も近い単語は下記のようです:
      <table >
        <tr>
          <th>類似度ランク</th>
          <th>単語</th>
          <th>類似度</th>
        </tr>
        {% for word in words %}
        <tr>
          <td> {{word['rank']}}</td>
          <td> {{word['word']}}</td>
          <td> {{word['similarity']}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>

    <br/>
    <a href="/">ホームに戻る</a>
  </body>
</html>
